n8n_workflows/bookleaf_gateway.json
{
  "name": "BookLeaf_Author_Query_Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bookleaf-gateway",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-1-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "bookleaf-gateway"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "channel",
              "value": "={{ $json.channel ?? \"web\" }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "user_email",
              "value": "={{ $json.user_email }}"
            },
            {
              "name": "user_phone",
              "value": "={{ $json.user_phone }}"
            },
            {
              "name": "user_name",
              "value": "={{ $json.user_name }}"
            },
            {
              "name": "user_instagram",
              "value": "={{ $json.user_instagram }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-2-set-format-payload",
      "name": "Set: Format Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://your-ngrok-url.ngrok-free.app/chat",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "node-3-http-fastapi",
      "name": "HTTP Request: Call FastAPI Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.confidence }}",
              "operation": "smaller",
              "value2": 0.8
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.escalated }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "node-4-if-confidence-gate",
      "name": "IF: Confidence Gate (80% Rule)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "I'm not fully confident about this request. I've escalated it to a BookLeaf support specialist who will respond within 24 business hours."
            }
          ],
          "boolean": [
            {
              "name": "escalated",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "node-5a-set-escalation",
      "name": "Set: Escalation Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 180]
    },
    {
      "parameters": {},
      "id": "node-5b-no-op",
      "name": "No Operation: Pass Through",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "query_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel",
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": "raw_query",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ $json.confidence }}"
            },
            {
              "fieldId": "response",
              "fieldValue": "={{ $json.response }}"
            },
            {
              "fieldId": "escalated",
              "fieldValue": "={{ $json.escalated }}"
            },
            {
              "fieldId": "intent",
              "fieldValue": "={{ $json.intent }}"
            }
          ]
        }
      },
      "id": "node-6-supabase-log",
      "name": "Supabase: Log to query_logs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 300],
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-7-webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set: Format Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Format Payload": {
      "main": [
        [
          {
            "node": "HTTP Request: Call FastAPI Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Call FastAPI Brain": {
      "main": [
        [
          {
            "node": "IF: Confidence Gate (80% Rule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Confidence Gate (80% Rule)": {
      "main": [
        [
          {
            "node": "Set: Escalation Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation: Pass Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Escalation Message": {
      "main": [
        [
          {
            "node": "Supabase: Log to query_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation: Pass Through": {
      "main": [
        [
          {
            "node": "Supabase: Log to query_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Log to query_logs": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "bookleaf-v1-0-0",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2026-05-20T00:00:00.000Z",
      "updatedAt": "2026-05-20T00:00:00.000Z",
      "id": "bookleaf-tag",
      "name": "bookleaf"
    }
  ]
}
